<script>
  import Main from './lib/Main.svelte';
</script>

<svelte:head>
	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> 
</svelte:head>


<main>
	<Main/>
</main>

<style>
	:root {
		font-family: 'Lato', sans-serif;
		font-family: 'Open Sans', sans-serif;
	}

	main {
		backgroun-color: #ff3e00;
		text-align: center;
		padding: 1em;
		margin: 0 auto;
	}
</style>
