<script>
let images = [
	{ path: 'assets/mountain.jpg', name: 'mountain' },
	{ path: 'assets/yosemite.jpg', name: 'yosemite' },
	{ path: 'assets/cliff.jpg', name: 'cliff' },
	{ path: 'assets/rail.jpg', name: 'rail' }
];

let imageParam = null;
let addImage = image => () => {
	imageParam = image;
	doPost(imageParam);
};

async function doPost (imageParam) {
	const res = await fetch('http://127.0.0.1:8080/postwall', {
		method: 'POST',
		body: JSON.stringify({
			path: imageParam,
		})
	})
	
	const json = await res.json()
	result = JSON.stringify(json)
}
</script>

<div id="title">
<h1>Wayland Wallchanger</h1>

	<div id="list">
		{#each images as image}
			<div id="image">
				<label>{image.name}</label><br>
				<img on:click={addImage(image.name)} src={image.path}><br>
			</div>
		{/each}
	</div>
</div>

<style>
	h1 {
	font-size: 2rem;
	font-weight: 100;
	line-height: 1.1;
	font-weght: bold;
	font-style: italic; 
	margin: 2rem auto;
	color: #282828;
	font-family: 'Open Sans', sans-serif;
	}

	img {
	max-width: 25rem;
	border-style: solid;
	border-color: #282828;
	}

	#image {
	font-size: 1.3rem;
	padding: 2rem;
	}
</style>

